.App {
  text-align: center;
  padding: 0.1%;
  color: black;
  /*background-color: #ffc9a3;*/
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: #f9fa6a;
  padding: 1%;
  margin: 1%;
  border: 4px solid #5D4954;
}

.navlink {
  display: flex;
  font-size: 1.5em;
  padding: 0.5%;
}

a {
  background-color: #a8fbfc;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  background-color: #a8c0fc;
}

.active {
  color: black;
  background-color: #a8c0fc;
}

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.chart {
  margin: 25px;
}

.activities {
  background: #b4d0e3;
  padding: 1%;
  margin: 1%;
}

.activity-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-tile {
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  width: 320px;
  background: #C0EAF0;
}

.activity-tile:hover .deleteButton {
  visibility: visible;
  cursor: default;
}
.activityTitleContainer:hover .activityTitleEditButton {
  visibility: visible;
  cursor: default;
}

.edit-title-input {
  border: 0;
  background: #C0EAF0;
  outline: none;
  margin-top:10px;
  width: 220px;
  text-align: center;
  font-size: 1.5em;
  font-family: sans-serif;
  padding: 2%;
  margin: 2%;
}

.edit-title-input:focus {
  border: solid 1px black;
  background: white;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 14px;
}

.deleteButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.deleteButton {
  visibility: hidden;
  width: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
}

.deleteButton:hover {
  background-color: #ff6a6a;
}

.activityTitleEditButton {
  /*justify-content: flex-end;*/
  visibility: hidden;
  float: right;
}
.activityTitleEditButton:hover {
  background-color: #fdf5e6;
}

.Form {
  border: 2px solid #e3fd9b;
  /*width: 400px;*/
  padding: 10px;
  margin: 1%;
  font-size: 18px;
}



.FormInput {
  width: 250px;
  /*margin: 10px auto;*/
  padding: 0.5%;
  font-size: 18px;
  margin: 1%;
}

.Button{
  padding: 1%;
}

.submitButton {
  background: #d9ffb4;
  color: black;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
  opacity: 0.7;
}

.submitButton:hover {
  opacity: 1;
}
