.App {
  text-align: center;
  padding: 40px;
  height: 1000px;
  color: black;
  background-color: #ffc9a3;
}

.newActivityButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
}

.tile {
  height: 200px;
  width: 150px;
  margin: 10px;
  background: #c4a77d;
  float: left;
  font-size: 14px;
  /*text-align: left;*/
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top:10px;
  width: 200px;
  font-size: 14px;
}

.input:focus {
  border: solid 1px lightgrey;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 14px;
}

.deleteButton {
    visibility: hidden;
    float: right;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.tile:hover .deleteButton {
  visibility: visible;
}
